<h1>Currency pairs</h1>
<p>Go <a href="/">back</a>.</p>

<ul>
    <% @array_of_symbols.each do |symbol| %>
    <li>
      <a href="/forex/<%= symbol %>">
        Convert 1 <%= symbol %> to...
      </a>
    </li>
    <% end%>
</ul>

<%= @symbols_hash%>